<!-- 1. Add latest jQuery and fancybox files -->
<link
  type="text/css"
  rel="stylesheet"
  href="{{ site.baseurl }}/integrations/main.css"
/>
<style>

  .nav-fixed {
		position: sticky;
		top: 6rem;
		z-index: 1;
	}

  .header_link {
		display: block;
		margin: 0;
		position: relative;
		width: fit-content;
		font: 500 1.2rem/2.5rem 'Qanelas Soft', sans-serif;
		transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

		span::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			margin-bottom: -1px;
			opacity: 0;
		}

  }


</style>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"
/>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<script>
  const getDimensions = (ele) => {
    let dummyheight = 0,
      dummyoffsetTop = 0,
      dummyoffsetBottom = 0;
    if (ele) {
      const { height } = ele.getBoundingClientRect();
      const offsetTop = ele.offsetTop;
      const offsetBottom = offsetTop + height;

      return {
        height,
        offsetTop,
        offsetBottom,
      };
    }

    return {
      dummyheight,
      dummyoffsetTop,
      dummyoffsetBottom,
    };
  };

  // Functions to make scroll with speed control
  // Element to move, element or px from, element or px to, time in ms to animate
  const scrollTo = (element, duration = 2000) => {
    let e = document.documentElement;
    if (e.scrollTop === 0) {
      let t = e.scrollTop;
      ++e.scrollTop;
      e = t + 1 === e.scrollTop-- ? e : document.body;
    }
    scrollToC(e, e.scrollTop, element, duration);
  };
  // Element to move, element or px from, element or px to, time in ms to animate
  const scrollToC = (element, from, to, duration) => {
    if (duration <= 0) return;
    if (typeof from === "object") from = from.offsetTop;
    if (typeof to === "object") to = to.offsetTop + 580;
    scrollToX(element, from, to, 0, 1 / duration, 20, easeOutCuaic);
  };

  const scrollToX = (element, xFrom, xTo, t01, speed, step, motion) => {
    if (t01 < 0 || t01 > 1 || speed <= 0) {
      element.scrollTop = xTo;
      return;
    }
    element.scrollTop = xFrom - (xFrom - xTo) * motion(t01);
    t01 += speed * step;

    setTimeout(function () {
      scrollToX(element, xFrom, xTo, t01, speed, step, motion);
    }, step);
  };

  const easeOutCuaic = (t) => {
    t--;
    return t * t * t + 1;
  };
</script>
<style>
  h2.sub-text {
    font-family: "Qanelas Soft", "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
</style>

<section style="display: flex;">

  <div style="display:flex;">
    <div id="meshery" class="" ref="{mesheryRef}">
      {% include meshery-brand.html %}
    </div>

    <div id="meshsync" class="" ref="{meshsyncRef}">
      {% include meshery-syncbrand.html %}
    </div>
    
    <div id="meshery-operator" class="" ref="{mesheryOperatorRef}">
      {% include meshery-operatorbrand.html %}
    </div>

    <div id="cloud-native" class="" ref="{mesheryOperatorRef}">
      {% include cloud-nativepatterns.html %}
    </div>
  </div>

  <div class="nav-fixed" style="justify-content: left; width: 200%; margin-left: 0.5rem;">
    <ul>
      <li><a href="#meshery" class="header_link">Meshery</a></li>
      <li><a href="#meshsync" class="header_link">MeshSync</a></li>
      <li><a href="#meshery-operator" class="header_link">Meshery Operator</a></li>
      <li><a href="#cloud-native" class="header_link">Cloud Native Patterns</a></li>
    </ul>
  </div>
</section>
