<!-- 1. Add latest jQuery and fancybox files -->
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/integrations/main.css" />

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<style>
    .row {
        display: flex;
        justify-content: space-between;
        /* Adjust as needed */
        flex-wrap: wrap;
        /* Allows divs to wrap to the next line if they don't fit */
    }

    .col {

        position: relative;
        width: 100%;




    }

    .logo {
    background: rgb(0, 0, 0);
    padding: 0.95rem;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
    display: flex;
    justify-content: center;
    align-items: center;

  }

    .PalletBox {
        height: 16rem;
        width: 16rem;
        background-color: #00B39F;
        margin-bottom: 1rem;
        padding: 1.5rem 2.5rem;
    }

    .p1 {
        background-color: #00D3A9;

    }

    .p2 {
        background-color: #EBC017;

    }

    .p3 {
        background-color: #FFF3C5;

    }

    .p4 {
        background-color: #7A848E;
    }

    .p5 {
        background-color: #1E2117;
    }
</style>


<div className="post-content">
    <div class="row">
        <h2 class="layerH3">
            Cloud Native Patterns
        </h2>
        <Col xs={12} sm={6} className="download-button">
        <a href="/brand/meshery-operator-brand-kit.zip">
            <button primary class="btn" external={true}>
                Download Logo Assets <FiDownloadCloud size={21} className="icon-left" />
            </button>
        </a>
        </Col>
        <Col>
        <p>
            The Cloud Native Pattern mark includes Cloud Native Pattern name & logo and any word, phrase, image, or
            other designation that identifies the source or origin of any Layer5 projects. PLease don't modify the marks
            or use them in a confusing way, including suggesting sponsorship or endorsement by Layer5 with another brand
            (including your own)
        </p>
        </Col>
    </div>
    <Row>
        <Col>
        <h3 class="layerH3 in">
            Logos
        </h3>
        </Col>
        <SRLWrapper>

            <div class="ImgDiv">
                <div class="" style="display: flex; justify-content: space-around;">
                  <img src="../assets/images/service-mesh-patterns.webp" alt="MesheryOperatorDark Logo" height="300" width="300"/>
                </div>
                <div class="logo" style="display: flex;">
                  <img src="../assets/images/service-mesh-patterns-side-white.webp" alt="MesheryOperator Logo" height="100" width="250"/>
                </div>
                <div class="logo" style="display: flex;">
                    <img src="../assets/images/service-mesh-pattern-text_white.webp" alt="MesheryOperator Logo" height="200" width="250"/>
                  </div>
              </div>
        </SRLWrapper>
    </Row>
    <Row>
        <Col>
        <h3 class="layerH3 in">
            Colors
        </h3>
        </Col>
        <Col>
        <p>
            The Meshery Operator color palette consists of the primary Meshery Operator color
            and additional shades. The Meshery Operator logo should be white or
            monochrome tonal when using a color background.
        </p>
        </Col>
        <Row className="color-code-wrapper">
            <div class="row">

                <div class="PalletBox p1" style="width: 11rem; height: 12rem;">
                </div>
                <div class="PalletBox p2" style="width: 11rem; height: 12rem;">
                </div>

                <div class="PalletBox p3" style="width: 11rem; height: 12rem;">
                </div>

                <div class="PalletBox p4" style="width: 11rem; height: 12rem;">
                </div>

            </div>
        </Row>
</div>