<!-- 1. Add latest jQuery and fancybox files -->
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/integrations/main.css" />

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<style>
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Adjust as needed */
    flex-wrap: wrap;
    /* Allows divs to wrap to the next line if they don't fit */
  }

  .col {

    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;



  }

  .PalletBox {
    height: 16rem;
    width: 16rem;
    background-color: #00B39F;
    margin-bottom: 1rem;
    padding: 1.5rem 2.5rem;
  }

  .p1 {
    background-color: #00D3A9;

  }

  .p2 {
    background-color: #EBC017;

  }

  .p3 {
    background-color: #FFF3C5;

  }

  .p4 {
    background-color: #7A848E;
  }

  .p5 {
    background-color: #1E2117;
  }
</style>

<div className="post-content">
  <div class="row">
    <h1 className="layerH3">
      Layer5
    </h1>
    <div xs={12} sm={6} class="col download-button">
      <a href="/brand/layer5-brand-kit.zip">
        <Button primary title="Download Logo Assets" external={false}>
          <FiDownloadCloud size={21} className="icon-left" />
        </Button>
      </a>
    </div>
    <div class="col">
      <p>
        The Layer5 mark includes the Layer5 name & logo, and any word,
        phrase, image, or other designation that identifies the source or
        origin of any Layer5 projects. Please don’t modify the marks or
        use them in a confusing way, including suggesting sponsorship or
        endorsement by Layer5, or in a way that confuses Layer5 with
        another brand (including your own).
      </p>
    </div>
  </div>
  <div class="row">
    <h2 className="layerH3 in">
      Logos
    </h2>
    <div class="row">
      <div style="color: white; display: block;">
        <img src="../assets/images/layer5-white-bg.webp" alt="Layer5 Logo" height="120" width="500" />
        <div>Primary Logo: broadly, and majorly applicable</div>
      </div>
      <div style="color: white; display: block;">
        <img src="../assets/images/5-light-no-trim.svg" alt="Layer5 Logo" height="120" width="500" />
        <div>Layer5 Icon: suited for square-shaped display</div>
      </div>
    </div>

  </div>
  <div class="row">
    <h2 className="layerH3 in">
      Colors
    </h2>
 
    <p>
      Our community color palette consists of gray and green colors
      representing each of our projects. The Layer5 logo should be white
      when using project colors as the background.
    </p>

    <div class="row">

      <div class="PalletBox p1">
      </div>
      <div class="PalletBox p2">
      </div>

      <div class="PalletBox p3">
      </div>

    </div>
  </div>
  </Row>


  <div class="row">
    <div>
    <h2 style="display: flex">
      Bookmarks
    </h2>

    
    <p>
      Media available for print.
    </p>

    <div class="display: flex; justify-content: center; align-items: center; text-align: center">


        <img className="bookmarks" src="../assets/images/bookmarks.webp" alt="Layer5 and Meshery Bookmarks" height="878"
          width="678" />
    </div>
  </div>
  </div>
</div>