<!-- 1. Add latest jQuery and fancybox files -->
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/integrations/main.css" />

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<style>
  .row {
    display: flex;
    justify-content: space-between;
    /* Adjust as needed */
    flex-wrap: wrap;
    /* Allows divs to wrap to the next line if they don't fit */
  }

  .col {

    position: relative;
    width: 100%;




  }

  .PalletBox {
    height: 16rem;
    width: 16rem;
    background-color: #00B39F;
    margin-bottom: 1rem;
    padding: 1.5rem 2.5rem;
  }

  .p1 {
    background-color: #00D3A9;

  }

  .p2 {
    background-color: #EBC017;

  }

  .p3 {
    background-color: #FFF3C5;

  }

  .p4 {
    background-color: #7A848E;
  }

  .p5 {
    background-color: #1E2117;
  }
</style>


<div className="post-content">
  <div class="row">
    <h1 class="layerH3">
      Meshery
    </h1>
    <Col xs={12} sm={6} className="download-button">
    <a href="/brand/meshery-brand-kit.zip">
      <Button primary title="Download Logo Assets" external={true}>
        <FiDownloadCloud size={21} className="icon-left" />
      </Button>
    </a>
    </Col>
    <Col>
    <p>
      The Meshery mark includes the Meshery name & logo, and any word,
      phrase, image, or other designation that identifies the source or
      origin of any Layer5 projects. Please don’t modify the marks or
      use them in a confusing way, including suggesting sponsorship or
      endorsement by Layer5, or in a way that confuses Layer5 with
      another brand (including your own).
    </p>
    </Col>
    </Row>

    <div>
      <h2 style="display: flex">
        Logos
      </h2>

      <div class="row">

        <img src="../assets/images/meshery-dark-text.webp" alt="MesheryDark Logo" height="200" width="300" />
        <img src="../assets/images/meshery-logo-light-text.webp" alt="MesheryLightTextSide Logo" height="200"
          width="300" />

      </div>
      <div class="row">

        <img src="../assets/images/meshery-logo-light-text.webp" alt="MesheryLightText Logo" height="200" width="300" />

        <img src="../assets/images/meshery-logo-dark.webp" alt="Meshery Logo" height="200" width="300" />

      </div>

    </div>
    <div class="row">
      <h2 className="layerH3 in">
        Colors
      </h2>
      <Col>
      <p>
        The Meshery color palette consists of the primary Meshery color
        and additional shades. The Meshery logo should be white or
        monochrome tonal when using a color background.
      </p>
      </Col>
      <div class="row">

        <div class="PalletBox p1">
        </div>
        <div class="PalletBox p2">
        </div>

        <div class="PalletBox p3">
        </div>

        <div class="PalletBox p4">
        </div>

        <div class="PalletBox p5">
        </div>

        <div class="PalletBox p6">
        </div>


      </div>
    </div>
  </div>